*{
  margin: 0;
  padding: 0;
}

body{
  font-family: georgia, times, sans-serif;
  font-size: 10px;
  color: #201e1d;
}

.section-left,
.section-right{
  padding: 0 0 0 5em;
  width: 60%;
  clear: both;
}

.photo{
  float: left;
  margin: 1em 1em 1em 2em;
  padding: 3px;
  text-align: center;
}
.photo .caption{
  display: block;
}

p{
  margin: 3px 0 20px;
}
h2{
  margin: 20px 0 3px;
}

#author{
  color: #565252;
  font-style: italic;
  margin-top: 3em;
  border-top: solid 1px #565252;
  padding-top: 1em;
}
#author a{
  color: #8e3c02;
  text-decoration: underline;
}

span.quote{
  font-size: 2.285em; /* 32px; */
  line-height: 1.1em;
  display: block;
  margin: .5em 0;
}
