*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  font-family: georgia, times, sans-serif;
  font-size: 10px;
  background: #330100 url(i/bg.jpg) repeat-y 50% 290px;
  color: #201e1d;
}

.page-width{
  width: 890px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.4em;
  line-height: 1.2em;
  position: relative;
	clear: both;
  display: inline-block;
}
.page-width:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .page-width {
  height: 1%;
}
.page-width {
  display: block;
}
/* End hide from IE-mac */

#header{
  background: url(i/header.png) no-repeat 0 0;
  height: 530px;
  width: 1000px;
  position: relative;
  z-index: 1;
}
#header h1{
  text-indent: -9999px;
  font-size: 1px;  
}

#main{
  background: url(i/bg.main.jpg) repeat-y right top;
  position: relative;
  z-index: 0;
}
#main .inner{
  background: url(i/sidebar.detail.jpg) no-repeat 594px bottom;
}
#main .bottom{
  height: 9px;
  background: url(i/main.bottom.jpg) repeat-y right top;
  clear: both;
}

#footer{
  background: url(i/tv.alpha.png) no-repeat 0 0;
  padding-top: 41px;
  width: 1000px;
  color: #8c7c62;
  font-size: 13px;
  text-align: center;
}
#footer .links a{
  font-size: 14px;
  color: #8e3c02;
  text-decoration: none;
  font-weight: bold;
}
#footer links a:hover{
  text-decoration: underline;
}
#video-replay{
  width: 320px;
  height: 260px;
  background: #000;
  margin-bottom: 100px;
  margin-left: 189px;
  text-align: left;
}

p{
  margin-bottom: 2em;
}
#section-1{
  margin-left: 50px;
  padding-top: 10px;
  width: 209px;
  float: none;
}
#section-2{
  float: left;
  margin-left: 180px;
  width: 318px;
  padding-right: 85px;
  background: url(i/arrow.right.png) no-repeat bottom right;
}
#section-2 .quote{
  margin-left: -130px;
  margin-bottom: -.75em;
  width: 300px;
  display: block;
}
#photo-p3{
  width: 491px;
  float: left;
  margin-left: 64px;
}
#section-3{
  float: right;
  width: 250px;
  margin-right: 25px;
  color: #f0f0f0;
}
#section-4{
  padding-top: 40px;
  background: url(i/arrow.left.png) no-repeat right top;
  width: 375px;  
}
#photo-p4{
  width: 404px;
  float: right;
  margin-right: 25px;
}
#section-5{
  float: left;
  width: 340px;
  padding-right: 50px;
  background: url(i/arrow.right.up.png) no-repeat right 95%;    
}
#section-6{
  float: right;
  width: 250px;
  margin-right: 25px;
  margin-left: 0;
  color: #f0f0f0;
}
#section-6 h2.affirmed{
  width: 234px;
  height: 45px;
  text-indent: -9999px;
  background: url(i/affirmed.header.png) no-repeat 0 0;
  margin-bottom: 1em;
}
#photo-p6{
  width: 521px;
  float: left;
  margin-left: 36px;
}
#photo-p7{
  width: 277px;
  float: right;
  margin-right: 13px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#pre-section-7{
  float: left;
  width: 478px;
  padding-right: 40px;
  background: url(i/arrow.left.png) no-repeat right 0;
  padding-top: 40px;      
}
#section-7{
  float: left;
  width: 478px;
  padding-right: 0px;
}
#section-7 span.quote{
  display: inline;
  font-size: 1.714em;
  line-height: 1.3em;
}
#photo-p8{
  width: 305px;
  float: right;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#photo-p9{
  width: 312px;
  float: right;
  margin-right: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#photo-p10{
  width: 778px;
  float: none;
  clear: both;
  margin-left: 50px;
}
#photo-p11{
  width: 323px;
  float: right;
  margin-right: 4px;
  margin-top: 10px;
}
#photo-p12{
  width: 555px;
  float: left;
  margin-left: 30px;
}
#photo-p13{
  width: 287px;
  float: right;
  margin-right: 30px;
  margin-top: 1em;
}

#author{
  color: #565252;
  font-style: italic;
  margin-top: 3em;
  border-top: solid 1px #565252;
  padding-top: 1em;
}
#author a{
  color: #8e3c02;
  text-decoration: none;
}
#author a:hover{
  text-decoration: underline;
}

h2.alydar{
  width: 176px;
  height: 45px;
  text-indent: -9999px;
  background: url(i/alydar.header.png) no-repeat 0 0;
  margin-bottom: 1em;
}
h2.signature{
  width: 240px;
  height: 38px;
  text-indent: -9999px;
  background: url(i/signature.png) no-repeat 50% 0;
  margin-bottom: 1em;
  margin-top: 3em;
}



.section-left{
  float: left;
  width: 478px;
  margin-left: 64px;
  padding-right: 0px;
}

.section-right{
  float: right;
  width: 250px;
  margin-right: 25px;
  margin-left: 0;
  color: #f0f0f0;  
}








span.quote{
  font-size: 2.285em; /* 32px; */
  line-height: 1.1em;
  display: block;
  margin: .5em 0;
}
div.photo{
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
div.photo span.caption{
  width: 400px;
  height: 50px;
  padding: 30px 20px 0; 
  background: url(i/caption.png) no-repeat 0 0;
  position: absolute;
  z-index: 200;
  bottom: 0px;
  right: -30px;
  color: #a76c3c;
  font-size: 20px;
  text-align: center;  
}
div.photo span.caption-2lines{
  line-height: 1.2em;
  padding-top: 15px;
  height: 65px;
}

br.clear{
  height: 1px;
  clear: both;
}

img#intro1{
  position: absolute;
  top: 199px;
  left: 40px;
  z-index: 2;
}
img#intro2{
  position: absolute;
  top: 407px;
  left: 315px;
  z-index: 3;
}
img#intro3{
  position: absolute;
  top: 209px;
  left: 293px;
  z-index: 2;
}
#intro4{
  position: absolute;
  top: 226px;
  right:55px;
  z-index: 1;
}
#intro4 span.caption{
  background: url(i/caption.1978.png) no-repeat 0 0;
  padding-left: 150px;
  width: 290px;
}

