[submodule "_plugins/zroger"]
  path = _plugins/zroger
  url = git://github.com/zroger/jekyll-plugins.git
[submodule "_includes/bootstrap"]
  path = _includes/bootstrap
  url = https://github.com/twitter/bootstrap
