[submodule "_plugins/zroger"]
  path = _plugins/zroger
  url = git://github.com/zroger/jekyll-plugins.git
[submodule "_assets/vendor/bootstrap"]
  path = _assets/vendor/bootstrap
  url = https://github.com/twitter/bootstrap
