ErrorDocument 404 /404.html

# Old taxonomy redirects.
redirect 301 /taxonomy/term/1/feed /topics/drupal/atom.xml
redirect 301 /taxonomy/term/1 /topics/drupal

# Old node redirects.
redirect 301 /node/1    /2008/11/keep-it-simple.html
redirect 301 /node/2    /2008/06/theme_username-woes.html
redirect 301 /node/3    /2008/07/time-sensitive-data-caching.html
redirect 301 /node/9    /2008/11/operator-precedence-gets-me-every-time.html
redirect 301 /node/10   /2008/11/overheard-in-irc.html
redirect 301 /node/12   /2008/11/30-minute-modules-alias.html
redirect 301 /node/13   /2008/12/monique-saves-a-life.html
redirect 301 /node/16   /2009/02/drupalcamp-nyc-notes.html
redirect 301 /node/20   /2009/04/tumblr-api-module.html
redirect 301 /node/25   /2009/06/theming-cck-fields-the-right-way.html
redirect 301 /node/27   /2009/07/quick-tip-use-console-app-to-view-mamp-logs-in-osx.html
redirect 301 /node/28   /2009/07/drupal-theme-and-module-naming-conflicts.html
redirect 301 /node/29   /2009/10/is-it-drupal-firefox-extension.html
redirect 301 /node/30   /2009/12/ajax-without-javascript.html
redirect 301 /node/31   /2009/12/ajax-modal-windows.html
redirect 301 /node/32   /2010/02/dialog-api.html
redirect 301 /node/33   /2010/02/worldwide-drupal-happy-hour.html
