---
layout: default
---

<div class="row">
    <div class="large-6 columns">
        <span class="th"><img src="{{ site.baseurl }}/img/zroger-coding.jpg"></span>
    </div>
    <div class="large-6 columns">
            <h3>Hi there.</h3>
            <p>
                I'm Roger.  I spend my days writing code, thinking about hard
                problems and generally trying to make things better.  When
                I'm not "working", I eat and drink my way through my current
                home town of New York City and travel as much as my schedule
                and budget can manage.
            </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="large-12 columns">
        <h2>Recent posts</h2>
        {% for post in site.categories.featured limit:3 %}
            {% include excerpt.html post=post %}
            <hr>
        {% endfor %}
        <ul class="inline-list">
            <li><a class="button" href="{{ site.baseurl }}/blog">All posts &raquo;</a></li>
        </ul>
    </div>
</div>
