{% if page.url != post.url %}
  {% assign context = 'teaser' %}
{% endif %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% if post.photo %}
  <div class="photo">
    <a href="{{ post.url }}">
      <img src="{{ site.base-url }}img/photos/teaser/{{post.photo}}" />
    </a>
  </div>
  {% endif %}

  <div class="inner">
    <h2 itemprop="name">
      <a href="{{ post.url }}" itemprop="url">{{post.title}}</a>
    </h2>

    <div itemprop="description">
      {% if context == 'teaser' %}
        {{ post.content | preview }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </div>

  <footer>
    <ul class="inline">
      <li>
        <i class="icon-calendar"></i>
        <time itemprop="datePublished" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %e, %Y" }}</time>
      </li>

      {% for tag in post.tags %}
        {% if forloop.first %}<li><i class="icon-tags"></i>{% endif %}
          <a href="{% tag_url tag %}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% if forloop.last %}</li>{% endif %}
      {% endfor %}

    </ul>
  </footer>

</article>
