{% comment %}
Including this partial requires passing a url parameter.

   {% include flickr-image.html url="http://farm3.staticflickr.com/2823/9536383843_9cbe00de92_b.jpg" %}

The following statements parse a flickr image url like
http://farm3.staticflickr.com/2823/9536383843_9cbe00de92_b.jpg
into a number of variables.  These are then used to generate flickr source URLs
according to http://www.flickr.com/services/api/misc.urls.html.
{% endcomment %}

{% assign filename = include.url | split: '/' | last %}
{% assign filebase = filename | split: '.' | first %}
{% assign id = filename | split: '_' | first %}
{% assign secret = filename | remove: id | remove_first: '_' | split: '_' | first %}
{% assign size = filename | split: '.' | first | split: '_' | last %}
{% assign base = include.url | remove: filename | append: id | append: '_' | append: secret  %}

{% assign square-75 = base | append: '_s.jpg' %}
{% assign square-100 = base | append: '_q.jpg' %}
{% assign thumb-100 = base | append: '_t.jpg' %}
{% assign small-240 = base | append: '_m.jpg' %}
{% assign small-320 = base | append: '_n.jpg' %}
{% assign medium-500 = base | append: '.jpg' %}
{% assign medium-640 = base | append: '_z.jpg' %}
{% assign medium-800 = base | append: '_c.jpg' %}
{% assign large-1024 = base | append: '_b.jpg' %}

<figure>
    <a href="http://www.flickr.com/photos/zroger/{{ id }}/"
       title="{{ include.caption }}" class="th">
        <img src="{{ medium-640 }}" alt="{{ include.caption }}"></a>
    <figcaption>
        {{ include.caption }}
    </figcaption>
</figure>
