<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">{{ site.title }}</a>
      <ul class="nav pull-right">
        <li{% if page.url == "/index.html" %} class="active"{% endif %}><a href="{{ site.base-url }}">Blog</a></li>
        <li{% if page.url == "about/index.html" %} class="active"{% endif %}><a href="{{ site.base-url }}about">About</a></li>
        {% if site.server %}
          <li><a href="#debugModal" data-toggle="modal"><i class="icon-eye-open"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
