*{
  margin: 0;
  padding: 0;
}
img{ border: 0; }

body{
  font-family: georgia, times, serif;
  font-size: 10px;
  line-height: 1em;
  color: #000000;
  width: 100%;
}

.page-width{
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.2em;
  position: relative;
	clear: both;
  display: inline-block;
  background: #e8480a;
}
.page-width:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .page-width {
  height: 1%;
}
.page-width {
  display: block;
}
/* End hide from IE-mac */

p{
  margin: 3px 0 20px;
}
/* both IE6 & IE7 have some margining issues */
p{
	*margin-top: 0px;
	*margin-bottom: 17px;
}
a{
  color: #8e3c02;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.q{
  font-size: 2em;
  line-height: 1.2em;
  vertical-align: baseline;
}
.q2{
  font-size: 1.5em;
  line-height: 1.2em;
  vertical-align: baseline;
}
.bumper{
	display: none;
}
.section{
	clear: both;
}

#main{
  background: #e8480a url(i/body.bg.jpg) no-repeat 0 0;
}

h1{
	font-size: 44px;
	line-height: 1.1em;
	margin: 1em 0;
}
.author{
	font-size: 1.5em;
	border-top: solid 1px #000;
	padding: .5em 0;
}

#footer{
  color: #5e695e;
  font-size: 13px;
	padding: 20px 0;  
}
#footer .links{
  text-align: center;
  font-family: georgia, times, serif;
}
#footer .links a{
  font-size: 14px;
  font-weight: bold;
  color: #e1b209;
}

#video-replay{
  width: 320px;
  height: 260px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
#video{
	text-align: center;
}

