*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 10px;
  background: #000000 url(i/body.bg.jpg) repeat-y 50% 830px;
  color: #ffffff;
}

.page-width{
  width: 1025px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.4em;
  line-height: 1.2em;
  position: relative;
	clear: both;
  display: inline-block;
}
.page-width:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .page-width {
  height: 1%;
}
.page-width {
  display: block;
}
/* End hide from IE-mac */

#header{
  background: url(i/header.bg.jpg) no-repeat 0 0;
  padding-top: 310px;
}
#header h1{ 
  display: none;
}
#header .collage{
  
}

p{
  margin: 3px 125px 20px 145px;
  width: 730px;
}
a{
  color: #8e3c02;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
span.quote{
  font-size: 2em;
  line-height: 1.2em;
}

/* Drop-caps
==============================*/
p.dropcap{
  padding-top: 10px;
  margin-top: 10px;
}
span.dropcap-h{
  float: left;
  display: inline;
  width: 97px;
  height: 80px;
  background: url(i/dropcap.h.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-right: -3px;
  margin-top: -10px;
}
span.dropcap-i{
  float: left;
  width: 64px;
  height: 79px;
  background: url(i/dropcap.i.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-right: -3px;
  margin-top: -7px;
}
span.dropcap-t{
  float: left;
  width: 73px;
  height: 78px;
  background: url(i/dropcap.t.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-right: -9px;
  margin-top: -7px;
}
span.dropcap-w{
  float: left;
  width: 102px;
  height: 79px;
  background: url(i/dropcap.w.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-right: -9px;
  margin-top: -7px;
}
* html span.dropcap-h,
* html span.dropcap-i,
* html span.dropcap-t,
* html span.dropcap-w{
  background: none;
  float: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  text-indent: 0px;
  font-weight: bold;
}

.collage{
  position: relative;
}
.collage h2{
  position: absolute;
  top: 0px;
  left: 0px;
  text-indent: -9999px;
  z-index: 10;
}
.collage img{
  position: relative;
  z-index: 0;
}

/* 1957 Collage
==============================*/
#collage-1957 h2{
  width: 1261px;
  height: 267px;
  background: url(i/header.1957.png) no-repeat 0 0;
  left: -153px;
  top: -42px;
}
#collage-1957 img{
  left: 136px;
}

/* 1960 Collage
==============================*/
#collage-1960 h2{
  width: 330px;
  height: 202px;
  background: url(i/header.1960.png) no-repeat 0 0;
  top: 21px;
  left: -8px;
}
#collage-1960 img{
  left: 146px;
}

/* 1962 Collage
==============================*/
#collage-1962 h2{
  width: 1154px;
  height: 1105px;
  background: url(i/header.1962.png) no-repeat 0 0;
  left: -7px;
  top: -48px;
}
#collage-1962 img{
  left: 148px;
}

/* 1964 Collage
==============================*/
#collage-1964 h2{
  width: 1093px;
  height: 1024px;
  background: url(i/header.1964.png) no-repeat 0 0;
  top: 26px;
}
#collage-1964 img{
  left: 78px;
}

/* 1969 Collage
==============================*/
#collage-1969 h2{
  width: 1101px;
  height: 768px;
  background: url(i/header.1969.png) no-repeat 0 0;
  left: -5px;
  top: -27px;
}
#collage-1969 img{
  left: 106px;
}

/* Footer
==============================*/
#video{
  background: url(i/tv.bg.png) no-repeat 0 0;
  width: 1186px;  /* need an extra 83px width on the sides for the protruding cinder block */
  padding-top: 84px;
  height: 400px;
}
#video-replay{
  float: left;
  width: 320px;
  height: 260px;
  background: #000;
  margin-left: 366px;
}
* html #video-replay{
  /* stupid double margin */
  margin-left: 183px;
}
ul#video-playlist{
  float: right;
  list-style: none;
  width: 360px;
  font-family: georgia, times, serif;
}
ul#video-playlist li{
  list-style: none;
  background: url(i/arrow.left.png) no-repeat left bottom;
  padding-left: 12px;
  margin-bottom: 7px;
}
ul#video-playlist li h3{
  font-size: 22px;
  line-height: 1.2em;
  font-weight: normal;
}

#footer{
  color: #8c7c62;
  font-size: 13px;  
}
#footer .links{
  text-align: center;
  font-family: georgia, times, serif;
}
#footer .links a{
  font-size: 14px;
  font-weight: bold;
}

p.author{
  margin-top: 100px;
  border-top: solid 1px #fff;
  padding-top: 1em;
  font-family: times, serif;
  font-style: italic;
}
