---
layout: default
---

<h2>Latest posts</h2>

{% for post in paginator.posts %}
  {% include excerpt.html post=post %}
  {% unless forloop.last %}<hr>{% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<div class="pagination-centered">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="arrow">
        <a href="{{ site.baseurl }}/blog/" title="First page">&laquo;</a>
      </li>
      <li class="arrow">
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" title="Previous page">&lsaquo;</a>
      </li>
    {% else %}
      <li class="arrow unavailable"><a href="" title="First page">&laquo;</a></li>
      <li class="arrow unavailable"><a href="" title="Previous page">&lsaquo;</a></li>
    {% endif %}

      {% for count in (1..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="current unavailable"><a href="" title="Page {{ count }}">{{ count }}</a></li>
        {% elsif count == 1 %}
          <li><a href="{{ site.baseurl }}/blog/" title="Page {{ count }}">{{ count }}</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/blog/page{{ count }}/" title="Page {{ count }}">{{ count }}</a></li>
        {% endif %}
      {% endfor %}

    {% if paginator.next_page %}
      <li class="arrow">
          <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" title="Next page">&rsaquo;</a>
      </li>
      <li class="arrow">
        <a href="{{ site.baseurl }}/blog/page{{ paginator.total_pages }}" title="Last page">&raquo;</a>
      </li>
    {% else %}
      <li class="arrow unavailable"><a href="" title="Next page">&rsaquo;</a></li>
      <li class="arrow unavailable"><a href="" title="Last page">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
