<meta charset="utf-8">
<title>zroger{% if page.title %} | {{ page.title}}{% endif %}</title>
<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Roger López">
<meta name="Copyright" content="Copyright Roger López 2011. All Rights Reserved.">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ site.baseurl }}assets/css/all.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/print.css" type="text/css" media="print" />

<link rel="shortcut icon" href="{{ site.base-url }}img/favicon.png">
<link rel="apple-touch-icon" href="{{ site.base-url }}img/apple-touch-icon.png">

{% comment %}
  <!-- TODO: touch icon sizes -->
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.base-url }}img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.base-url }}img/images/apple-touch-icon-114x114.png">
{% endcomment %}

