---
layout: master
---
  <header class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <ul class="button-group">
          <li><a href="{{ site.baseurl }}/" class="button">Home</a></li>
          <li><a href="{{ site.baseurl }}/blog/" class="button">Blog</a></li>
        </ul>
      </div>

      <h1 class="left"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <hr />
    </div>
  </header>

  <!-- Main Page Content and Sidebar -->

  <div class="row">
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
      {{ content }}
    </div>
    <!-- End Main Content -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
