---
layout: master
---
  <header><div class="row">
    <div class="large-12 columns">
      <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <hr />
    </div>
  </div></header>

  <!-- Main Page Content and Sidebar -->

  <div class="row">
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
      {{ content }}
    </div>
    <!-- End Main Content -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <dl class="sub-nav right">
        <dt>&copy; {{ site.time | date: "%Y" }} Roger López</dt>
        <dd><a href="http://github.com/zroger" title="Github">
          <i class="foundicon-github"></i></a></dd>
        <dd><a href="http://twitter.com/zroger" title="Twitter">
          <i class="foundicon-twitter"></i></a></dd>
        <dd><a href="http://www.flickr.com/photos/zroger/" title="Flickr">
          <i class="foundicon-flickr"></i></a></dd>
      </dl>
    </div>
  </footer>
