<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head id="www-zroger-com">
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>zroger{% if page.title %} | {{ page.title}}{% endif %}</title>

  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Roger López">
  <meta name="Copyright" content="Copyright Roger López 2011. All Rights Reserved.">
  <meta name="google-site-verification" content="">

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link rel="shortcut icon" href="{{ site.base-url }}img/favicon.png">
  <link rel="apple-touch-icon" href="{{ site.base-url }}img/apple-touch-icon.png">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata" type="text/css">
  <link rel="stylesheet" href="{{ site.base-url }}css/normalize.css?{{ site.time }}" type="text/css">
  <link rel="stylesheet" href="{{ site.base-url }}css/highlight.css?{{ site.time }}" type="text/css">
  <link rel="stylesheet" href="{{ site.base-url }}css/minimal.css?{{ site.time }}" type="text/css">

</head>

<body>

{{ content }}

<!-- Asynchronous google analytics; this is the official snippet.
   Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1082965-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
-->

</body>
</html>