---
layout: html
---
  <header id="page-header">
    <div class="container">
      <a class="site-name" href="{{ site.base-url }}">Roger López</a>
      <span class="slogan">thoughts on life and code</span>
      <nav>
        <ul>
          <li{% if page.url == "archives/index.html" %} class="active"{% endif %}><a href="{{ site.base-url }}archives">Archives</a></li>
          <li{% if page.url == "about/index.html" %} class="active"{% endif %}><a href="{{ site.base-url }}about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="main" class="container">
    <div class="fourteen columns offset-by-one">
      {{ content }}
    </div>
  </div>

  <footer>
    <div class="container">
      {% include footer.html %}
    </div>
  </footer>
